  <launch>

    <!-- Camera Launch-->
    <include file="$(find realsense2_camera)/launch/rs_rgbd.launch">
        <arg name="depth_width"           default="640"/>
        <arg name="depth_height"          default="480"/>
        <arg name="color_width"           default="640"/>
        <arg name="color_height"          default="480"/>

        <arg name="color_fps"             default="15"/>
        <arg name="depth_fps"             default="15"/>

        <arg name="camera"                default="camera"/>
        <arg name="serial_no"             default="825312071964"/>
        <arg name="enable_pointcloud"     default="false"/>
        <arg name="align_depth"           default="true"/>
    </include>  

    <!-- Object depth detection --> 
    <include file="$(find detection_yolo)/launch/yolo_object_depth_detection.launch"/>

    <!-- Detection Robot Control -->
    <node pkg="detection_control" type="control_from_detection.py" name="control_from_detection" output="screen">
        <rosparam file="$(find detection_control)/config/detection_control_params.yaml" command="load" />
    </node>

  </launch>